<p>This app enables planners and managers to visualize impacts of future development and rising sea levels on anchialine pools to help prioritize restoration and conservation over time.
<div style="display:flex; margin-bottom:6px;"><div>Click to hear about ecosystems of Kiholo</div><div class="eeslr-volume" style="margin-top:-3px;"><i id="sound1" class="volumneicons fa fa-volume-off fa-2x" aria-hidden="true"></i></div></div> 
<a href='https://coastalresilience.org/project/ecosystem-effects-of-sea-level-change/' target='_blank'>Learn More</a>
</p>
<img width=300 src='plugins/ecological-effects-slc/images/infoGraphic1.jpg'/>
<img width=300 src='plugins/ecological-effects-slc/images/infoGraphic2.jpg'/>
<div style="text-align:center;">
	<button class="button button-primary openApp">Get Started</button>
</div>	

<script>
	$(".openApp").click(function(c){
		$(c.currentTarget).parent().parent().parent().find(".button-link").trigger("click")
	})
</script>
