<ul id="tlyPageGuide">
    <li class="tlypageguide_right" data-tourtarget=".name">
        <div>
			These are links that will take you to the Coastal Resilience website for more project background.
        </div> 
    </li>
	<li class="tlypageguide_right" data-tourtarget="#pluginZoomTo-clearSearch">
        <div>
	         Type in your point of interest and you will get a list of available selections from a global search address database.
	    </div> 
    </li>
	<li class="tlypageguide_right" data-tourtarget=".plugin-launcher">
        <div>
            This is the start menu that provides an introduction to the mapping application, specific links to apps in the left sidebar, and also partner and collaborator logos. Each item below this contains a web mapping application, or "app." These are intended to address a specific coastal or marine ecosystem service to inform conservation, mitigation, and/or adaptation planning. You can have multiple apps running at the same time if you have the minimize "_" option for an active app. If so, minimize (the icon will stay blue) and open others to view additional data and information. Minimize will leave data on the map, but close the app interface. If minimize is not present, apps and their data remain active until the "x" is clicked either in the app window or next to the app name on the left sidebar (the "x" is only present in the sidebar when the sidebar is expanded and more than one app is open). Use the close "x" to remove data from the map.
        </div> 
    </li>
    <li class="tlypageguide_right" data-tourtarget=".dropdown-icon-container">
        <div>This is a hamburger menu for exploring external links outside of the mapping tool.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".icon-wrench">
        <div>These tools let you: measure an area or distance, zoom to the full exent of the mapping application, create a map with data from multiple apps, and save a bookmark of a map scene to send to others.</div>
    </li>
    <li class="tlypageguide_left" data-tourtarget=".basemap-selector">
        <div>
             Change the base map with this dropdown menu.
        </div> 
    </li>
    <li class="tlypageguide_left" data-tourtarget=".searchInputGroup">
        <div>Search for a place using a global address database.</div>
    </li>
</ul>